<div class="slider">
  <div class="slide-track">
    <div class="slide bg-primary">
      <div class="slide-icon bg-info">
        <img src="./../../../../assets/img/carousel/agenciaComunicação.svg" />
      </div>
      <h3>Agências de Comunicação</h3>
      <p>
        Gerencie suas campanhas, as horas da sua equipe e o financeiro da sua
        agência: tudo em um software só.
      </p>
    </div>

    <div class="slide bg-info">
      <div class="slide-icon bg-primary">
        <img src="./../../../../assets/img/carousel/empresasEngenharia.svg" />
      </div>
      <h3>Empresas de Engenharia</h3>
      <p>
        Ganhe flexibilidade, agilidade e controle sobre os seus projetos com um
        software completo para a sua empresa
      </p>
    </div>

    <div class="slide bg-primary">
      <div class="slide-icon bg-info">
        <img
          src="./../../../../assets/img/carousel/escritorioArquitetura.svg"
        />
      </div>
      <h3>Escritórios de Arquitetura</h3>
      <p>
        Diversas funcionalidades para trazer agilidade, lucratividade e sucesso
        para os seus projetos.
      </p>
    </div>

    <div class="slide bg-info">
      <div class="slide-icon bg-primary">
        <img src="./../../../../assets/img/carousel/shippingServices.svg" />
      </div>
      <h3>Shipping Services</h3>
      <p>
        Gerencie os atendimentos e as finanças da agência de forma 100%
        integrada e online.
      </p>
    </div>

    <div class="slide bg-primary">
      <div class="slide-icon bg-info">
        <img src="./../../../../assets/img/carousel/empresasTecnologia.svg" />
      </div>
      <h3>Empresas de Tecnologia</h3>
      <p>
        Trabalhe de qualquer lugar, a qualquer hora. Gerencie seus projetos, as
        horas de sua equipe e o financeiro em um único sistema.
      </p>
    </div>

    <div class="slide bg-info">
      <div class="slide-icon bg-primary">
        <img src="./../../../../assets/img/carousel/empresasConsultoria.svg" />
      </div>
      <h3>Empresas de Consultoria</h3>
      <p>
        Conheça um software completo e flexível, ideal para gestão de projetos
        de sua consultoria.
      </p>
    </div>
    <!-- 1 parte -->

    <div class="slide bg-primary">
      <div class="slide-icon bg-info">
        <img src="./../../../../assets/img/carousel/agenciaComunicação.svg" />
      </div>
      <h3>Agências de Comunicação</h3>
      <p>
        Gerencie suas campanhas, as horas da sua equipe e o financeiro da sua
        agência: tudo em um software só.
      </p>
    </div>

    <div class="slide bg-info">
      <div class="slide-icon bg-primary">
        <img src="./../../../../assets/img/carousel/empresasEngenharia.svg" />
      </div>
      <h3>Empresas de Engenharia</h3>
      <p>
        Ganhe flexibilidade, agilidade e controle sobre os seus projetos com um
        software completo para a sua empresa
      </p>
    </div>

    <div class="slide bg-primary">
      <div class="slide-icon bg-info">
        <img
          src="./../../../../assets/img/carousel/escritorioArquitetura.svg"
        />
      </div>
      <h3>Escritórios de Arquitetura</h3>
      <p>
        Diversas funcionalidades para trazer agilidade, lucratividade e sucesso
        para os seus projetos.
      </p>
    </div>

    <div class="slide bg-info">
      <div class="slide-icon bg-primary">
        <img src="./../../../../assets/img/carousel/shippingServices.svg" />
      </div>
      <h3>Shipping Services</h3>
      <p>
        Gerencie os atendimentos e as finanças da agência de forma 100%
        integrada e online.
      </p>
    </div>

    <div class="slide bg-primary">
      <div class="slide-icon bg-info">
        <img src="./../../../../assets/img/carousel/empresasTecnologia.svg" />
      </div>
      <h3>Empresas de Tecnologia</h3>
      <p>
        Trabalhe de qualquer lugar, a qualquer hora. Gerencie seus projetos, as
        horas de sua equipe e o financeiro em um único sistema.
      </p>
    </div>

    <div class="slide bg-info">
      <div class="slide-icon bg-primary">
        <img src="./../../../../assets/img/carousel/empresasConsultoria.svg" />
      </div>
      <h3>Empresas de Consultoria</h3>
      <p>
        Conheça um software completo e flexível, ideal para gestão de projetos
        de sua consultoria.
      </p>
    </div>
    <!-- 2 -->
    <div class="slide bg-primary">
      <div class="slide-icon bg-info">
        <img src="./../../../../assets/img/carousel/agenciaComunicação.svg" />
      </div>
      <h3>Agências de Comunicação</h3>
      <p>
        Gerencie suas campanhas, as horas da sua equipe e o financeiro da sua
        agência: tudo em um software só.
      </p>
    </div>

    <div class="slide bg-info">
      <div class="slide-icon bg-primary">
        <img src="./../../../../assets/img/carousel/empresasEngenharia.svg" />
      </div>
      <h3>Empresas de Engenharia</h3>
      <p>
        Ganhe flexibilidade, agilidade e controle sobre os seus projetos com um
        software completo para a sua empresa
      </p>
    </div>

    <div class="slide bg-primary">
      <div class="slide-icon bg-info">
        <img
          src="./../../../../assets/img/carousel/escritorioArquitetura.svg"
        />
      </div>
      <h3>Escritórios de Arquitetura</h3>
      <p>
        Diversas funcionalidades para trazer agilidade, lucratividade e sucesso
        para os seus projetos.
      </p>
    </div>

    <div class="slide bg-info">
      <div class="slide-icon bg-primary">
        <img src="./../../../../assets/img/carousel/shippingServices.svg" />
      </div>
      <h3>Shipping Services</h3>
      <p>
        Gerencie os atendimentos e as finanças da agência de forma 100%
        integrada e online.
      </p>
    </div>

    <div class="slide bg-primary">
      <div class="slide-icon bg-info">
        <img src="./../../../../assets/img/carousel/empresasTecnologia.svg" />
      </div>
      <h3>Empresas de Tecnologia</h3>
      <p>
        Trabalhe de qualquer lugar, a qualquer hora. Gerencie seus projetos, as
        horas de sua equipe e o financeiro em um único sistema.
      </p>
    </div>

    <div class="slide bg-info">
      <div class="slide-icon bg-primary">
        <img src="./../../../../assets/img/carousel/empresasConsultoria.svg" />
      </div>
      <h3>Empresas de Consultoria</h3>
      <p>
        Conheça um software completo e flexível, ideal para gestão de projetos
        de sua consultoria.
      </p>
    </div>
  </div>
</div>
