<div class="container">
  <h3>Parceiros</h3>
  <div class="row m-0">
    <div class="parceiros col-12 col-lg-6 p-0 pr-lg-3 pr-xl-4">
      <img
        src="./../../../../assets/img/parceiros/fast.png"
        alt="Logo Fast"
        class="img-fluid"
        (click)="abrirLink('https://www.fastsolucoes.com.br/')"
      />
      <img
        src="./../../../../assets/img/parceiros/jump.png"
        alt="Logo Jump"
        class="img-fluid"
        (click)="abrirLink('http://www.jumpbrasil.com/')"
      />
    </div>

    <div class="parceiros col-12 col-lg-6 p-0">
      <img
        src="./../../../../assets/img/parceiros/talento.png"
        alt="Logo Talento"
        class="img-fluid"
        (click)="abrirLink('http://talentobrasil.com.br/')"
      />
      <img
        src="./../../../../assets/img/parceiros/porto.png"
        alt="Logo Porto"
        class="img-fluid"
        (click)="abrirLink('https://portodigital.org/')"
      />
    </div>
  </div>
</div>
