<div class="container">
  <h3>Conteúdos gratuitos para alavancar sua gestão e produtividade</h3>

  <div class="row">
    <div class="d-flex flex-wrap col-4">
      <img
        src="./../../../../assets/img/produtividade.png"
        alt="Produtividade"
        class="img-fluid"
      />

      <span class="produtividade">Produtividade</span>

      <div class="titulo">
        <h3>Quis: Você é líder ou chefe?</h3>
        <p>5 min de leitura | 26 abril 2021</p>
      </div>

      <div class="conteudo">
        <p>
          Você se considera um líder ou chefe? Apesar de ambos representarem
          cargos de poder e autoridade […]
        </p>
      </div>

      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="
          abrirLink('https://www.flowup.me/blog/quiz-voce-e-lider-ou-chefe/')
        "
        title="Produtividade"
      >
        LEIA MAIS
      </button>
    </div>

    <div class="d-flex flex-wrap col-4">
      <img
        src="./../../../../assets/img/gestao.png"
        alt="Gestão"
        class="img-fluid"
      />

      <span class="gestao">Gestão</span>

      <div class="titulo">
        <h3>Fadiga mental: o que é e como combater</h3>
        <p>5 min de leitura | 26 abril 2021</p>
      </div>

      <div class="conteudo">
        <p>
          Você já passou por um dia em que praticamente só ficou sentado, não
          teve que fazer um grande esforço físico, […]
        </p>
      </div>

      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="abrirLink('https://www.flowup.me/blog/fadiga-mental/')"
        title="Gestão"
      >
        LEIA MAIS
      </button>
    </div>

    <div class="d-flex flex-wrap col-4">
      <img
        src="./../../../../assets/img/colaborador.png"
        alt="Colaborador"
        class="img-fluid"
      />

      <span class="colaborador">Colaborador</span>

      <div class="titulo">
        <h3>Como lidar com conversas difíceis no trabalho</h3>
        <p>5 min de leitura | 26 abril 2021</p>
      </div>

      <div class="conteudo">
        <p>
          Seja na vida pessoal ou profissional, existem situações que são
          impossíveis de prever, muitas delas trazem à tona […]
        </p>
      </div>

      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="
          abrirLink(
            'https://www.flowup.me/blog/como-lidar-com-conversas-dificeis-no-trabalho/'
          )
        "
        title="Colaborador"
      >
        LEIA MAIS
      </button>
    </div>
  </div>
</div>
